body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: grey;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: grey;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  margin-bottom: 0;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  position: relative;
  top: -15px;
}

.temperature {
  color: black;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
